# requirements file
# note which revision of python, for example 3.9.6
# in this file, insert all the pip install needs, include revision

# python==3.10.13
pyautogen
chess
matplotlib
numpy
pandas
yfinance
